$blue: #2980b9 !default;
$lt-blue: #3498db !default;
$yellow: #f1c40f !default;
$orange: #f39c12 !default;
$asphalt: #34495e !default;
$midnight: #2c3e50 !default;
$black: #000 !default;
$white: #fff !default;
